button {
    margin: 10px 0 0 10px;
    padding: 5px 10px;
    border: $primary-color solid 1px;
    border-radius: 5%;
    background: linear-gradient(150deg, rgba($primary-color, 0.2665441176470589) 68%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 78%, rgba(97, 58, 231, 0.23012955182072825) 85%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 91%, rgba(97, 58, 231, 0.23012955182072825) 95%);

    &:hover {
        background: linear-gradient(150deg, rgba($primary-color, 0.49) 68%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 78%, rgba(97, 58, 231, 0.49) 85%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 1) 91%, rgba(97, 58, 231, 0.49) 95%);
    }

    &:active {
        background: rgba($primary-color, 0.49);
    }
}