@import '../../style/variables.scss';

.skills__grid {

    &-item {
        // background-color: rgb(0, 255, 255, 0.4);
        // border: solid 2px aqua;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        overflow: visible;
        font-weight: 700;
        font-size: 18px;

        @keyframes scaleUp {
            0% {
                opacity: 0;
                scale: 0;
            }

            10% {
                opacity: 1;
            }

            100% {
                scale: 1.0;
            }
        }

        &.n0 {
            grid-column: 1 / 3;
            grid-row: 1;
            transform: rotateZ(-30 + (random($limit: 60) * 1deg));
            scale: 0;

            &.appear {
                animation: scaleUp 300ms cubic-bezier(0, .2, .88, .63) 400ms forwards;
            }
        }

        &.n1 {
            grid-column: 5 / 8;
            grid-row: 1 / 3;
            transform: rotateZ(-30 + (random($limit: 60) * 1deg));
            scale: 0;

            &.appear {
                animation: scaleUp 200ms cubic-bezier(0, .2, .88, .63) 600ms forwards;
            }
        }

        &.n2 {
            grid-column: 1/4;
            grid-row: 2 / 5;
            transform: rotateZ(-30 + (random($limit: 60) * 1deg));
            scale: 0;

            &.appear {
                animation: scaleUp 200ms cubic-bezier(0, .2, .88, .63) 800ms forwards;
            }
        }

        &.n3 {
            grid-column: 4 / 9;
            grid-row: 3/5;
            transform: rotateZ(-30 + (random($limit: 60) * 1deg));
            scale: 0;

            &.appear {
                animation: scaleUp 200ms cubic-bezier(0, .2, .88, .63) 500ms forwards;
            }
        }

        &.n4 {
            grid-column: 1/5;
            grid-row: 4/5;
            transform: rotateZ(-30 + (random($limit: 60) * 1deg));
            scale: 0;

            &.appear {
                animation: scaleUp 200ms cubic-bezier(0, .2, .88, .63) 700ms forwards;
            }
        }

        &.n5 {
            grid-column: 7/10;
            grid-row: 5/7;
            transform: rotateZ(-30 + (random($limit: 60) * 1deg));
            scale: 0;

            &.appear {
                animation: scaleUp 200ms cubic-bezier(0, .2, .88, .63) 900ms forwards;
            }
        }

        &.n6 {
            grid-column: 3/5;
            grid-row: 1/4;
            transform: rotateZ(-30 + (random($limit: 60) * 1deg));
            scale: 0;

            &.appear {
                animation: scaleUp 200ms cubic-bezier(0, .2, .88, .63) 1100ms forwards;
            }
        }

        &.n7 {
            grid-column: 1/4;
            grid-row: 5/7;
            transform: rotateZ(-30 + (random($limit: 60) * 1deg));
            scale: 0;

            &.appear {
                animation: scaleUp 200ms cubic-bezier(0, .2, .88, .63) 1200ms forwards;
            }
        }

        &.n8 {
            grid-column: 4/6;
            grid-row: 4/6;
            transform: rotateZ(-30 + (random($limit: 60) * 1deg));
            scale: 0;

            &.appear {
                animation: scaleUp 200ms cubic-bezier(0, .2, .88, .63) 1000ms forwards;
            }
        }

        &.n9 {
            grid-column: 4/8;
            grid-row: 6;
            transform: rotateZ(-30 + (random($limit: 60) * 1deg));
            scale: 0;

            &.appear {
                animation: scaleUp 200ms cubic-bezier(0, .2, .88, .63) 1300ms forwards;
            }
        }

        &.n10 {
            grid-column: 6/10;
            grid-row: 1/5;
            transform: rotateZ(-30 + (random($limit: 60) * 1deg));
            scale: 0;

            &.appear {
                animation: scaleUp 200ms cubic-bezier(0, .2, .88, .63) 1400ms forwards;
            }
        }
    }
}