@import "../../style/variables.scss";

.skills__skillView {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: -3;

    &-view {
        width: 100%;
        height: 100%;
        opacity: inherit;
        z-index: inherit;
        transition: opacity 200ms 500ms;
    }

    &-title {
        position: absolute;
        top: -30px;
        left: 5px;
        margin: 3px 0;
        color: $primary-color;
        opacity: inherit;
        transition: opacity 200ms 600ms;
    }

    &-close {
        position: absolute;
        top: 5px;
        right: 5px;
        margin: 3px 0;
        padding: 1px;
        color: $primary-color;
        // background-color: $secondary-color;
        opacity: inherit;
        font-size: 25px;
        z-index: inherit;
        transition: opacity 200ms 600ms;
    }

    &.showSkillView {
        opacity: inherit;
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $primary-color;
            opacity: 0;
            z-index: -1;

            @keyframes appear {
                0% {
                    opacity: 0;
                    scale: 0;
                    border-radius: 100%;
                    z-index: 1;
                }

                80% {
                    opacity: 1;
                    scale: 1;
                    border-radius: 0%;
                    background-color: $primary-color;
                }

                100% {
                    scale: 1;
                    border-radius: 0%;
                    border: solid 1px $primary-color;
                    background-color: transparent;
                    opacity: 1;
                }
            }

            animation: appear 1000ms cubic-bezier(.29, 1.02, .83, 1) 0ms forwards;
        }
    }
}