$primary-color: #613AE7;
$secondary-color: #ffffff;
$gradient: linear-gradient(180deg, rgba($primary-color, 0.089) 0%, rgba(255, 255, 255, 0) 100%);
$fonts: Poppins, Arial, Helvetica, sans-serif;
$font-size__subtitle: calc(100vw*0.1);
$font-size__title: calc(100vw * 0.04);
$font-size__subtitle-translate: calc(100vw*(-0.002));